*
{
    margin: 0px;
}

header
{
    background:linear-gradient(rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    height: 70px;
}
ul
{
    float: right;
    
}
li
{
    display: inline-block;
    list-style: none;
    padding-right: 50px;
    padding-top: -50px;
}
a
{
    text-decoration: none;
    color:#1eb1cb ;
}
a:hover
{
    color: rgb(245, 228, 206);
}
.logo
{
    color: #1eb1cb;
    padding-left: 60px;
    padding-top: 15px;
    font-size: 30px;
}
.head
{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color:#1eb1cb;
    text-decoration: underline;
}

table,th,td
{
    border: 1px solid rgb(245, 228, 206);
    border-radius: 2px;
    height:25px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}
th
{
    background-color: #1eb1cb;
}
.p
{
    margin-top: 50px;
    height: 50%;
    background-color: #1eb1cb;
    border-top: 5px solid;
}
.a
{
    color: black;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    text-decoration: underline;
}
pre
{
    padding-top: 20px;
    padding-right: -20px;
    font-family: Futara;
    font-size: 18px;
}